.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 60px;
  box-sizing: border-box;
  font-weight: bold;
  background: white;
}

.homeHeader {
  background: transparent;
  box-shadow: none;
}

.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.title {
  font-size: 1.5625rem;
  margin-top: 0.625rem;
  margin-left: 1.5625rem;
  letter-spacing: 0.00625rem;
  color: #181848;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  margin-right: 3.125rem;
}

.navLink {
  text-decoration: none;
  font-size: 1.125rem;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.navLink:hover {
  color: #e40046;
}

.profileSection {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-right: -1.25rem;
  position: relative;
}

.logoutLink {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  font-size: 1.125rem;
  color: #e40046;
  cursor: pointer;
  padding: 1.25rem;
  border: none;
  background-color: inherit;
  display: none;
  transition: transform 0.1s ease;
}

.profileSection:hover .logoutLink {
  display: block;
}

.profileSection:hover > *:not(.logoutLink) {
  visibility: hidden;
}

.profileImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.nickname {
  font-weight: bold;
  color: #070707;
}
